<br>
<h2 class="page-header" >Login</h2>
<form class="form-signin" (submit)="onLoginSubmit()">
        <div class="form-group">
          <br>
          <label for="Username">Username</label>
          <input type="text" class="form-control" placeholder="Enter Username" 
          [(ngModel)]="username" #username1="ngModel" name="username" required>
          <div class="alert alert-danger" *ngIf="username1.touched && !username1.valid">Username is required</div>
        </div>
        <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" #password1="ngModel" placeholder=" Enter Password" [(ngModel)]="password" name="password" required>
        <div class="alert alert-danger" *ngIf="password1.touched && !password1.valid">Password is required</div>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <input class="btn btn-lg btn-primary" type="submit" value="Login">
</form>
