<!-- <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stylish Portfolio - Start Bootstrap Template</title>

  

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">

</head> -->

<header class="masthead d-flex">
<div class="container text-center my-auto">
  <h1>Quiz Application</h1>
  <p class="lead">Welcome to our Quiz Application </p>
</div>
</header>

<section class="content-section">
<div class="container text-center my-auto">
  <h5>Select Quiz:
  <select [(ngModel)]="quizName" (click)="select(quizName)">
      <option disabled [ngValue]="null" selected>Select an option</option>
      <option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>
  </select>
</h5>
<div class="form-label-group">
   <label style="color: red;">{{errMsg}}</label>
  </div>
  <br>
  <div>
    <button class="btn btn-lg btn-success" (click)="goToQuiz();">Start Quiz</button></div>
</div>
</section>
<!-- <div>
  <button class="btn btn-lg btn-success" (click)="goToQuiz();">Start Quiz</button>
</div> -->
